<div class="fos_user_user_show">
    <p>{{ 'label.full_name'|trans({}, 'FAPerezGUsersBundle') }}: {{ user.fullName }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>
